/* Basic Content for the HTML of all Pages */

*{
    transition: 0.3s;
}

body{
    height: 100vh;
    margin: 0%;
    background-image: url("Assets/Images/photoBackground.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-image: url("Assets/Images/headerImage.jpg");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

iframe{
    width: auto;
    height: 100vh;
    margin: 2%;
}

footer{
    margin-top: 2%; 
    width: auto;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#logoSocial{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#facebook{
    height: 2%;
    width: 5%;
    margin: 2%;
}

.logoMedia:hover{
    background-color: #f5f5dcb3;
    border-radius: 10px;
}


#instagram{
    height: 2%;
    width: 5%;
    margin: 2%;
}

#twitter{
    height: 2%;
    width: 5%;
    margin: 2%;
}

.btn{
    border: 1px solid rgba(245, 245, 220, 0);
    padding: 1%;
    border-radius: 0%;
    text-decoration: none;
    color: beige;
}

.btn:hover{
    color: #ff9700;
    border-left: 1px solid rgba(245, 245, 220, 0.8);
    border-right:  1px solid rgba(245, 245, 220, 0.8);
}

.logoHeader{
    height: 30vh;
    border-radius: 40%;
    border: 1px solid black;
} 

.logoHeader:hover{
    height: 35vh;
    background-color: beige;
    border: none;
    border-radius: 45%;
    opacity: 0.8;
}

.buttonNav{
    display: flex;
    justify-content: space-around;
}

.jumbotron{
    margin: 2% 0%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0%;
}

/* Content for The HOME Page */

#promptName{
    text-align: center;
    color: black;
    font-size: 3rem;
}

#yourName{
    text-align: center;
    color: black;
    font-size: 3rem;
}

#theBandB{
    background-color: rgba(0, 0, 0, 0) ;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#theBB{
    font-size: 5rem;
    color: #ff9700;
    padding: 1%;
    font-weight: bold;
    border-left: 10px solid #ff9700;
    border-right: 10px solid #ff9700;
}

.firstElementHome{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: auto; 
    margin: 10%; 
}

.resumeResto{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 55%;
    height: auto;
    padding: 4%;
}

#titreResume{
    color: #ff9700;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imageHome1{
    height: 100%;
    width: 25vw;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.secondElementHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
    color: white;
}

#imageBottomHome{
    height: 20%; 
    width: 60%;
    border-radius: 5px;
}

.bookNow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 35%;
}

#bookNow{
    font-size: 1.5rem;
    padding: 25%;
    border: 1px solid rgba(245, 245, 220, 0);
}

#bookNow:hover{
    color: #ff9700;
    border-left: 1px solid rgba(245, 245, 220, 0.8);
    border-right:  1px solid rgba(245, 245, 220, 0.8);
    cursor: pointer;
}

/* Content for The MENU Page */

#menuRestaurant{
    height: auto;
    width: 70%;
    margin: 10% auto;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navbar{
    display: block;
    margin-bottom: 10%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #007bff;
    background-color: rgba(245, 245, 220, 0);
}

.bg-light {
    background-color: rgba(245, 245, 220, 0) !important;
}

#titreMenu{
    color: #ff9700;
    font-weight: bold;
    margin: 10%;
    width: 100%;
}

#itemMenu{
    color: beige;
    border: 1px solid rgba(245, 245, 220, 0);
    border-radius: 0%;
}

#itemMenu:hover{
    text-decoration: none;
    color: #ff9700;
    border-left: 1px solid rgba(245, 245, 220, 0.8);
    border-right:  1px solid rgba(245, 245, 220, 0.8);
}

.foodContent{
    margin-top: 5%;
    margin-bottom: 2%;
    color: #ff9700;
}

h6{
    margin-bottom: 3%;
}

.food{
    margin-bottom: 0%;
}

.drinks{
    font-weight: bold;
}

#item-6{
    margin-bottom: 4%;
}

.badge-success{
    color: beige;
    background-color: #28a74500;
    border-left: 1px solid #ff9700;
    border-radius: 0%;
}

/* Content for The PICTURES Page */

#carousRestaurant{
    height: auto;
    width: 80%;
    margin: 10% auto;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    text-align: center;
}

#photosRestaurant{
    height: auto;
    width: 80%;
    margin: 10% auto;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel-inner{
    margin-bottom: 2%
}

#titreCarous{
    color: #ff9700;
    margin-bottom: 4%;
    font-weight: bold;
}

.imgBurger{
    height: auto; 
    width: 90%;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

/* Content for The ADRESS Page */

iframe{
    height: auto;
}

#adressContent{
    height: 100%;
    width: 80%;
    margin: 10% auto;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#locationAndMap{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#location{
    color: #ff9700;
    font-weight: bold;
}

#differentLocation{
    height: 100%;
    width: 30%;
    margin-right: 10%;
}


.differentResto{
    height: auto;
    width: 50%;
    margin: auto 2%;
    text-align: center;
}

.differentResto:hover{
    border-bottom: 1px solid beige;
    cursor: pointer;
}

.nameRestaurant{
    color: #ff9700;
}

#imagePhoneMap{
    width: 80%;
    height: auto;
    border: 1px solid white;
}

#mapRestaurant{
    height: 100%; 
    width: 100%;
}


/* Content for The CONTACT Page */

#contactContent{
    height: auto;
    width: 80%;
    margin: 10% auto;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#contactTitre{
    text-align: center;
    color: #ff9700;
    font-weight: bold;
}

#divSubmitBtn{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-primary{
    background-color: rgba(245, 245, 220, 0);
}

.btn-primary:hover{
    background-color: rgba(245, 245, 220, 0);
    border-bottom: 1px solid rgba(245, 245, 220, 0); 
    border-top: 1px solid rgba(245, 245, 220, 0);
}



